/* general styles */

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0px;
}

main {
    flex-grow: 1;
    margin: 0px 8px;
}

h1 {
    margin-left: 8px;
    margin-right: 8px;
}

::selection {
    background-color: rgba(162, 132, 94, 0.4);
}

/* general styles */

/* navigation styles */

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 0px;
    margin: 0px;
}

nav a {
    text-decoration: none;
    color: #a2845e;
    font-weight: bold;
    padding-bottom: 2px;
    transition: 0.5s;
}

nav a:hover {
    color: black;
}

.selection a {
    color: black;
}

/* navigation styles */

/* home view */

.home .middle {
    font-style: italic;
    color: #a2845e;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: justify;
}

.home .first,
.home .second {
    text-align: justify;
    display: flex;
    align-items: center;
}

.home .first img,
.home .second img {
    max-width: 30%;
    border-radius: 10px;
}

.home .first p {
    padding-right: 20px;
}

.home .second p {
    padding-left: 20px;
}

/* home view */

/* list view */

.list p:first-child {
    text-align: justify;
}

.companies a {
    color: #a2845e;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.5s;
}

.companies a:hover {
    color: black;
}

.companies span {
    padding: 5px;
    margin-left: 5px;
    color: #000000;
    border-radius: 10px;
    transition: 0.5s;
}

.companies ol {
    counter-reset: my-counter;
}

.companies li {
    counter-increment: my-counter;
}

.companies li::marker {
    content: counter(my-counter);
    font-weight: bold;
}

.article {
    display: flex;
    align-items: center;
    text-align: justify;
}

.article img {
    width: 30%;
    padding-left: 10px;
}

/* list view */

/* contact view */

.contact .info a {
    text-decoration: none;
    color: #a2845e;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
    transition: 0.5s;
}

.contact .info a:hover {
    color: black;
}

.contact .info {
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
}

/* contact view */

/* footer view */

footer {
    background-color: #a2845e;
    color: white;
    padding: 10px;
    margin-top: 10px;
}

/* footer view */